#header {
  background-color: var(--primary2);
  padding: 0 1.2rem 0 1.2rem;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr;
}

#profilePhoto {
  padding: 0.4rem 0 0.4rem;
  height: 4.5rem;
}

.nextBoardingPassButton {
  cursor: pointer;
  display: flex;
  justify-content: right;
  align-items: center;
}

.nextBoardingPassButton:hover {
  transform: scale(1.05);
}
